<div class="main">

    <h1>Outros Cadastros</h1>
    <form class="formulario" [formGroup] = "outrosForm" (ngSubmit) = "submit()">
   
      <mat-form-field class="input">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoria" required>
          <mat-option value="familia">Familia</mat-option>
          <mat-option value="subFamilia">Sub Familia</mat-option>
          <mat-option value="unidadeEntrada">Unidade de Entrada</mat-option>
          <mat-option value="unidadeSaida">Unidade de Saida</mat-option>
          <mat-option value="Andar">Andar</mat-option>
          <mat-option value="Corredor">Corredor</mat-option>
          <mat-option value="Porta">Porta</mat-option>
        </mat-select>
      </mat-form-field>

        <mat-form-field class="input">
            <mat-label> Descricao</mat-label>
            <input matInput placeholder="Ex. Antibiotico" formControlName = "descricao" required>
          </mat-form-field>
       
          <div class="divbtn">
  
            <button mat-button  class="btn" type="button" (click)="Close()">
                
                <mat-icon class="icon">close</mat-icon>
                <span>Exit</span>
              </button>
  
            <button mat-button class="btn" type="submit">
  
              <ng-container *ngIf="typeButton === 'Save'">
                <mat-icon  class="icon">save</mat-icon> 
              </ng-container>
                <ng-container *ngIf="typeButton === 'Add'">
                <mat-icon  class="icon">add</mat-icon> 
              </ng-container>
                <span>{{ typeButton }}</span>
  
              </button>
  
             
          </div>
      </form>
  </div>
  