<div class="main">
    <h1>Agendamento</h1>
    <form class="formulario" [formGroup]="agendamentoForm" (ngSubmit)="submit()">
      
      <mat-form-field class="input">
        <mat-label>Tipo de Agendamento</mat-label>
        <mat-select formControlName="tipoAgendamento" required>
          <mat-option *ngFor="let tipo of tiposAgendamento" [value]="tipo">
            {{ tipo }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Data e Hora</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dataHora" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
  
      <mat-form-field class="input">
        <mat-label>Paciente</mat-label>
        <mat-select formControlName="pacienteID" required>
          <mat-option *ngFor="let paciente of pacientes" [value]="paciente.nome" (click) = "getPacienteId(paciente)">
            {{ paciente.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="input">
        <mat-label>Médico</mat-label>
        <mat-select formControlName="medicoID" required>
          <mat-option *ngFor="let medico of medicos" [value]="medico.nome" (click) = "getMedicoId(medico)">
            {{ medico.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="input">
        <mat-label>Observações</mat-label>
        <textarea matInput placeholder="Observações adicionais" formControlName="observacoes"></textarea>
      </mat-form-field>
  
      <div class="divbtn">
        <button mat-button class="btn" type="button" (click)="Close()">
          <mat-icon class="icon">close</mat-icon>
          <span>Exit</span>
        </button>
  
        <button mat-button class="btn" type="submit">
          <mat-icon class="icon">{{ typeButton === 'Save' ? 'save' : 'add' }}</mat-icon>
          <span>{{ typeButton }}</span>
        </button>
      </div>
    </form>
  </div>
  