<div class="MainTemplate">
    <div style="width: 100%; display: flex; justify-content: space-between;">
      <button mat-raised-button color="" (click)="addMedicamento()" class="btnAdd">
        <img src="assets/Images/add.png" alt="" class="imgStyle">
        <span>Add</span>
      </button>
  
      <mat-form-field appearance="outline" class="inputSearch" (input)="search($event)">
        <mat-label style="color: #212121;">Search</mat-label>
        <input matInput type="search" placeholder="ex: John" style="color: black;">
      </mat-form-field>
    </div>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Coluna ID -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let medicamento">{{ medicamento.medicamentoID }}</td>
      </ng-container>
  
<!-- Coluna Produto -->
<ng-container matColumnDef="Produto">
  <th mat-header-cell *matHeaderCellDef>Produto</th>
  <td mat-cell *matCellDef="let medicamento">{{ medicamento.produto }}</td>
</ng-container>

  
      <!-- Coluna Quantidade -->
      <ng-container matColumnDef="Quantidade">
        <th mat-header-cell *matHeaderCellDef>Quantidade</th>
        <td mat-cell *matCellDef="let medicamento">{{ medicamento.quantidade }}</td>
      </ng-container>

  <!-- Coluna Data de Emissão -->
<ng-container matColumnDef="DataEmissao">
  <th mat-header-cell *matHeaderCellDef>Data de Emissão</th>
  <td mat-cell *matCellDef="let medicamento">{{ medicamento.dataEmissao | date }}</td>
</ng-container>

  <!-- Coluna Data de Validade -->
  <ng-container matColumnDef="DataValidade">
    <th mat-header-cell *matHeaderCellDef>Data de Validade</th>
    <td mat-cell *matCellDef="let medicamento">{{ medicamento.dataValidade | date }}</td>
  </ng-container>
  
<!-- Coluna Lote -->
<ng-container matColumnDef="Lote">
  <th mat-header-cell *matHeaderCellDef>Lote</th>
  <td mat-cell *matCellDef="let medicamento">{{ medicamento.lote }}</td>
</ng-container>

<!-- Coluna Centro de Custo -->
<ng-container matColumnDef="CentroDeCusto">
  <th mat-header-cell *matHeaderCellDef>Centro de Custo</th>
  <td mat-cell *matCellDef="let medicamento">{{ medicamento.centroDeCusto }}</td>
</ng-container>
   
  
      <!-- Coluna Fornecedor -->
      <ng-container matColumnDef="Fornecedor">
        <th mat-header-cell *matHeaderCellDef>Fornecedor</th>
        <td mat-cell *matCellDef="let medicamento">
          {{ getFornecedorName(medicamento.fornecedorID) }}
        </td>
      </ng-container>

        // Status Column 
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let medicamento">{{ medicamento.status ? 'Ativa' : 'Inativa' }}</td>
      </ng-container>
  
      <!-- Coluna Editar -->
      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let medicamento">
          <button mat-button (click)="editMedicamento(medicamento)">   <mat-icon>edit</mat-icon> </button>
        </td>
      </ng-container>
  
      <!-- Coluna Remover -->
      <ng-container matColumnDef="Remove">
        <th mat-header-cell *matHeaderCellDef>Remover</th>
        <td mat-cell *matCellDef="let medicamento">
          <button mat-button color="warn" (click)="removeMedicamento(medicamento)">  <mat-icon>remove</mat-icon> </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  