<div class="MainTemplate">

    <div style="width: 100%; display: flex; justify-content: space-between;">

      <button mat-raised-button color="" (click)="addDep()" class="btnAdd">
        <img src="assets/Images/add.png" alt="" class="imgStyle">
        <span>Add</span>
      </button>
  
      <mat-form-field  appearance="outline" class="inputSearch" (input)="search($event)">
        <mat-label style="color: #212121; ">Search</mat-label>
        <input matInput type="search" placeholder="ex: John" style="color: black;">
      </mat-form-field>
    </div>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    //Id Column 
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let cama">{{ cama.camaID }}</td>
      </ng-container>
  
    <!-- Department Column -->
<ng-container matColumnDef="Quarto">
    <th mat-header-cell *matHeaderCellDef> Quarto </th>
    <td mat-cell *matCellDef="let cama">
      {{ getLeitoName(cama.leitoID) }}
    </td>
  </ng-container>
  
     // Descricao Column 
      <ng-container matColumnDef="Cama">
        <th mat-header-cell *matHeaderCellDef>Cama</th>
        <td mat-cell *matCellDef="let cama">{{ cama.descricao }}</td>
      </ng-container>
  
     // Status Column 
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let cama">{{ cama.status ? 'Ativa' : 'Inativa' }}</td>
      </ng-container>
  
     // Edit Column 
      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let cama">
          <button mat-icon-button color="primary" (click)="editCama(cama)" class="editbtn">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
  
      // Remove Column 
      <ng-container matColumnDef="Remove">
        <th mat-header-cell *matHeaderCellDef>Remove</th>
        <td mat-cell *matCellDef="let cama">
          <button mat-icon-button color="warn" (click)="removeCama(cama)" class="deletebtn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="color: white;"></tr>
      <tr mat-row *matRowDef="let especialidade; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons  class="paginator"></mat-paginator>
  </div>
  