.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .formulario {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .input {
    margin: 0.5rem;
    width: 300px;
  }
  
  h1 {
    text-align: center;
    color: white;
    padding: 0.5rem;
  }
  
  .btn {
    background-color: white;
  }
  
  .divbtn {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
  
  .btn:hover {
    background-color: #212121;
    color: white;
    transition: 1s all ease-in-out;
  }
  
  .icon {
    color: #212121;
  }
  
  span {
    width: 100%;
    display: none;
  }
  
  .btn:hover .icon {
    display: none;
  }
  
  .btn:hover span {
    display: flex;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  @media (max-width: 768px) {
    .formulario {
      flex-direction: column;
    }
  
    .input {
      width: 100%;
    }
  
    .divbtn {
      width: 100%;
      justify-content: center;
    }
  }
  