<div class="MainTemplate">
    <div style="width: 100%; display: flex; justify-content: space-between;">
      <button mat-raised-button color="primary" (click)="addConsulta()" class="btnAdd">
        <img src="assets/Images/add.png" alt="" class="imgStyle">
        <span>Add</span>
      </button>
  
      <mat-form-field appearance="outline" class="inputSearch">
        <mat-label>Pesquisar</mat-label>
        <input matInput (input)="search($event)" placeholder="Pesquisar por motivo ou paciente">
      </mat-form-field>
    </div>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let consulta">{{ consulta.consultaID }}</td>
      </ng-container>
  
      <ng-container matColumnDef="Paciente">
        <th mat-header-cell *matHeaderCellDef>Paciente</th>
        <td mat-cell *matCellDef="let consulta">{{ getPacienteName(consulta.pacienteID) }}</td>
      </ng-container>
  
      <ng-container matColumnDef="Medico">
        <th mat-header-cell *matHeaderCellDef>Médico</th>
        <td mat-cell *matCellDef="let consulta">{{ getMedicoName(consulta.medicoID) }}</td>
      </ng-container>
  
      <ng-container matColumnDef="DataHora">
        <th mat-header-cell *matHeaderCellDef>Data e Hora</th>
        <td mat-cell *matCellDef="let consulta">{{ consulta.dataHora | date: 'short' }}</td>
      </ng-container>
  
      <ng-container matColumnDef="Motivo">
        <th mat-header-cell *matHeaderCellDef>Motivo</th>
        <td mat-cell *matCellDef="let consulta">{{ consulta.motivo }}</td>
      </ng-container>
  
      <ng-container matColumnDef="Diagnostico">
        <th mat-header-cell *matHeaderCellDef>Diagnóstico</th>
        <td mat-cell *matCellDef="let consulta">{{ consulta.diagnostico }}</td>
      </ng-container>
  
      <ng-container matColumnDef="Tratamento">
        <th mat-header-cell *matHeaderCellDef>Tratamento Recomendado</th>
        <td mat-cell *matCellDef="let consulta">{{ consulta.tratamentoRecomendado }}</td>
      </ng-container>

      
      <ng-container matColumnDef="Observacoes">
        <th mat-header-cell *matHeaderCellDef>Observacoes</th>
        <td mat-cell *matCellDef="let consulta">{{ consulta.observacoes }}</td>
      </ng-container>
  
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let consulta">{{ consulta.status }}</td>
      </ng-container>

      //Concluir?
      <ng-container matColumnDef="Consulta">
        <th mat-header-cell *matHeaderCellDef>Concluir? </th>
        <td mat-cell *matCellDef="let cama">
          <button *ngIf="cama.status === 'Andamento'" mat-raised-button color="primary" (click)="ConcluirConsulta(cama)">
          <!-- <mat-icon>finish</mat-icon> -->
           Concluir
          </button>
          <button *ngIf="cama.status === 'Concluida'" mat-raised-button color="warn" (click)="notFinished(cama)">
            <!-- <mat-icon>logout</mat-icon> -->
              Andamento
          </button>
        </td>
      </ng-container>
      
  
      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let consulta">
          <button mat-icon-button color="primary" (click)="editConsulta(consulta)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <!-- <ng-container matColumnDef="Remove">
        <th mat-header-cell *matHeaderCellDef>Remover</th>
        <td mat-cell *matCellDef="let consulta">
          <button mat-icon-button color="warn" (click)="removeConsulta(consulta)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container> -->
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let consulta; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
  