<div class="MainTemplate">
    <div style="width: 100%; display: flex; justify-content: space-between;">
      <button mat-raised-button color="" (click)="addMedico()" class="btnAdd">
        <img src="assets/Images/add.png" alt="" class="imgStyle">
        <span>Add</span>
      </button>
  
      <mat-form-field appearance="outline" class="inputSearch" (input)="search($event)">
        <mat-label style="color: #212121;">Search</mat-label>
        <input matInput type="search" placeholder="ex: Médico" style="color: black;">
      </mat-form-field>
    </div>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let medico">{{ medico.medicoID }}</td>
      </ng-container>
  
      <ng-container matColumnDef="Nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let medico">{{ medico.nome }}</td>
      </ng-container>
  
        <!-- Department Column -->
<ng-container matColumnDef="Especialidade">
    <th mat-header-cell *matHeaderCellDef> Especialidade </th>
    <td mat-cell *matCellDef="let medico">
      {{ getEspecialidadeName(medico.especialidadeID) }}
    </td>
  </ng-container>
  
      <ng-container matColumnDef="Telefone">
        <th mat-header-cell *matHeaderCellDef>Telefone</th>
        <td mat-cell *matCellDef="let medico">{{ medico.telefone }}</td>
      </ng-container>
  
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let medico">{{ medico.email }}</td>
      </ng-container>
  
      <ng-container matColumnDef="Endereco">
        <th mat-header-cell *matHeaderCellDef>Endereço</th>
        <td mat-cell *matCellDef="let medico">{{ medico.endereco }}</td>
      </ng-container>
  
      <ng-container matColumnDef="Horario_Trabalho">
        <th mat-header-cell *matHeaderCellDef>Horário de Trabalho</th>
        <td mat-cell *matCellDef="let medico">{{ medico.horarioTrabalho }}</td>
      </ng-container>
  
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let medico">{{ medico.status ? 'Ativo' : 'Inativo' }}</td>
      </ng-container>
  
      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let medico">
          <button mat-icon-button color="primary" (click)="editMedico(medico)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="Remove">
        <th mat-header-cell *matHeaderCellDef>Remove</th>
        <td mat-cell *matCellDef="let medico">
          <button mat-icon-button color="warn" (click)="removeMedico(medico)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let medico; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
  